h1{
	color: #d4a373;
}

body{
	background-color: #fff;
}

p{
	color:#d4a373;
}

.Paragraph{
	color: #9c6644;
}

table, td{
	border-style: dotted;
}
table{
	border-width: 4px;
	border-color: #936639;
	margin-left: auto;
	margin-right: auto;
}
td{
	border-width: 2px;

}
body{
	background-image: url(background.png);
	background-size: 100%;
}
img{
	border-radius: 25px;

}
img:hover{
	opacity: 0.75;
}
ul{
	list-style-type: none;
	background-color: #e6ccb2;
	overflow: hidden;
}
li a{
	float: left;
	display: block;
	width: 80px;
	background-color: #e6ccb2;
	text-align: center;
	padding: 15px 15px ;
	text-decoration: none;
	color: #582f0e;

} 
li a:hover{
	background-color: #b08968;
}
.active{
	border-bottom: 2px solid; #b08968;
}