h1{
	color: #ffffff;
}

body{
	background-color: #9ed4e8;
}

p{
	color:#ffffff;
	color:#ffffff;
	
}

.Paragraph{
	color: #456b79;
}

table, td{
	border-style: solid;
}
table{
	border-width: 4px;
	border-color: #456b79;
	margin-left: auto;
	margin-right: auto;
}
td{
	border-width: 2px;

}
body{
	background-image: url(background.png);
	background-size: 100%;
}
img{
	border-radius: 25px;

}
img:hover{
	opacity: 0.75;
}
ul{
	list-style-type: none;
	background-color: #456b79;
	overflow: hidden;
}
li a{
	float: left;
	display: block;
	width: 80px;
	background-color: #456b79;
	text-align: center;
	padding: 15px 15px ;
	text-decoration: none;
	color: #ffffff;

} 
li a:hover{
	background-color: #456b79;
}
.active{
	border-bottom: 2px solid; #ffffff;
}

h2{
	color:#ffffff;

}
h3{
	color:#ffffff;
}
h4
	.Paragraph{
	color: #ffffff;
	
}